/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */

.products .mat-sort-header-container {
  justify-content: center;
}

.users .mat-sort-header-container {
  justify-content: center;
}

.users thead tr th:hover {
  background-color: rgb(163, 26, 26) !important;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
  transition: 300ms;
}

.users .mat-sort-header-stem,
.users .mat-sort-header-indicator {
  color: white;
}

.users footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: white;
  box-shadow: 0px -1px 5px lightgray;
  width: 100%;
}

.cart footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: white;
  box-shadow: 0px -1px 5px lightgray;
  width: 100%;
}

.products .mat-sort-header-stem,
.products .mat-sort-header-indicator {
  color: white;
}

.products tbody tr {
  border-bottom: 1px solid rgb(255, 199, 199) !important;
}

.users tbody tr {
  border-bottom: 1px solid rgb(255, 199, 199);
}

.products thead tr th:hover {
  background-color: rgb(163, 26, 26) !important;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
  transition: 300ms;
}

.store
  .ng-image-slider
  .ng-image-slider-container
  .main
  .main-inner
  .img-div.image-popup {
  border-radius: 20px !important;
  margin-right: 20px !important;
}

.store ng-image-slider img {
  border-radius: 20px !important;
}

.store .ng-image-slider .ng-image-slider-container .main > .prev,
.next {
  filter: drop-shadow(0px 0px 5px gray);
}

mat-list-item {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;
}

.mdc-list-item.mdc-list-item--with-three-lines {
  height: 200px !important;
  box-shadow: 0px 0px 5px pink;
  border-radius: 20px;
}
