/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* -----------------------------USERS----------------------------- */

.users .mat-sort-header-container {
  justify-content: center;
}

.users thead tr th:hover {
  background-color: rgb(163, 26, 26) !important;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
  transition: 300ms;
}

.users .mat-sort-header-stem,
.users .mat-sort-header-indicator {
  color: white;
}

.users footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: white;
  box-shadow: 0px -1px 5px lightgray;
  width: 100%;
}

.users tbody tr {
  border-bottom: 1px solid rgb(255, 199, 199);
}

/* -----------------------------CART----------------------------- */

.cart footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: white;
  box-shadow: 0px -1px 5px lightgray;
  width: 100%;
}

/* -----------------------------PRODUCTS----------------------------- */

.products .mat-sort-header-stem,
.products .mat-sort-header-indicator {
  color: white;
}

.products .mat-sort-header-container {
  justify-content: center;
}

.products tbody tr {
  border-bottom: 1px solid rgb(255, 199, 199) !important;
}

.products thead tr th:hover {
  background-color: rgb(163, 26, 26) !important;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
  transition: 300ms;
}

@media (max-width: 450px) {
  .products #products-table {
    width: 90% !important;
  }

  .products .paginator {
    width: 90% !important;
  }
}

/* -----------------------------STORE----------------------------- */

.store
  .ng-image-slider
  .ng-image-slider-container
  .main
  .main-inner
  .img-div.image-popup {
  border-radius: 20px !important;
  margin-right: 20px !important;
}

.store ng-image-slider img {
  border-radius: 20px !important;
}

.store .ng-image-slider .ng-image-slider-container .main > .prev,
.next {
  filter: drop-shadow(0px 0px 5px gray);
}

@media (max-width: 450px) {
  .products-list {
    display: none !important;
  }

  .mdc-list-item.mdc-list-item--with-three-lines {
    height: max-content !important;
    border-bottom: unset !important;
  }
}

@media (min-width: 450px) {
  .products-list-mobile {
    display: none !important;
    box-shadow: 0px 0px 5px grey !important;
  }

  .mdc-list-item.mdc-list-item--with-three-lines {
    height: 200px !important;
    border-bottom: 1px solid rgb(235, 235, 235);
  }
}

mat-list-item {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;
}

.mdc-list-item--with-three-lines .mdc-list-item__primary-text {
  margin-top: -45px !important;
}

/* -----------------------------SINGLE PRODUCT----------------------------- */

.single-product .mdc-list-item.mdc-list-item--with-three-lines {
  box-shadow: 0px 0px 15px rgb(213, 213, 213) !important;
  border-radius: 20px;
}

.single-product .img-col {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.single-product .desc-col {
  margin-left: 50px;
}

@media (max-width: 450px) {
  .single-product .section-1 .row {
    flex-direction: column;
  }

  .single-product .section-1 .img-col {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }

  .single-product .section-1 .desc-col {
    margin-top: 10px;
    margin-left: 0px;
  }

  .single-product .section-1 .main-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .single-product .section-3 .d-flex {
    flex-direction: column;
    gap: 20px;
  }

  .single-product .section-3 .d-flex .card {
    width: 100% !important;
  }
}

.single-product .section-3 {
  background-color: #eee;
  padding: 20px;
}

.single-product .section-3 .price-buy {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-product .section-3 button {
  box-shadow: 0px 0px 5px rgb(134, 191, 134);
}

.single-product .section-3 mat-list-item {
  height: fit-content;
  width: fit-content;
}

.single-product .section-3 .card {
  border: none;
  box-shadow: 0px 0px 15px rgb(193, 193, 193) !important;
}

/* -----------------------------MY ACCOUNT----------------------------- */

.my-account {
  height: 100vh;
}

.my-account .container {
  transform: scale(1.25);
  margin-top: 20vh !important;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px rgb(255, 161, 247);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-account footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.my-account .right-col div {
  width: fit-content;
  margin-left: 15%;
}

.my-account #sessionBAD {
  box-shadow: unset;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transform: unset;
  margin-top: unset;
  height: 10;
}

.my-account #sessionBAD .row .col1 {
  padding-top: 21%;
}
