<nav class="navbar navbar-expand-lg bg-info navbar-fixed-top">
    <div class="headm">
      <img src="../assets/kidney.png" style="margin-left: 25px;" routerLink="" class="img-fluid" width="60px;">
    </div>
    <marquee style="width: 85%;" direction="left">
      <div class="text-white fw-bold h3">This is a sample Prafull product using angular, bootstrap and springboot.
      </div></marquee>
      <div class="fs-2" style="margin-left: 40px;">
        <i class="bi bi-person-circle" (click)="logOutDialog()"></i>
      </div>
  </nav>
