.NAVBAR {
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    to left,
    rgb(223, 228, 255),
    rgb(224, 222, 255)
  );
  width: 100%;
  z-index: 2;
}

.navbar .nav-link {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  color: blue;
}

.navbar .navbar-nav > .active > a {
  display: none;
}

.navbar .navbar-nav a:hover {
  color: blue;
  transform: scale(1.05);
  font-weight: 600;
}

.navbar a:last-child {
  margin-right: 10px;
}

.navbar .navbar-nav .logout {
  color: red;
  font-weight: 500;
  border-radius: 5px;
}

.navbar .navbar-nav .logout:hover {
  background: unset;
  -webkit-text-fill-color: unset;
  background-clip: unset;
  -webkit-background-clip: unset;
  transform: scale(1.05);
  cursor: pointer;
  color: red;
}

.navbar .dropdown button {
  border: 1px solid blue;
}
.navbar .dropdown button:hover {
  border: 1px solid blue;
  background-color: rgb(70, 67, 255);
}

.navbar .dropdown-menu a {
  background-color: transparent;
  margin: 0;
}

.navbar .dropdown-menu a:hover {
  color: black;
}

.navbar .dropdown-menu {
  --bs-dropdown-min-width: fit-content !important;
}
