<div class="row row-cols-1 row-cols-md-3 p-5">
    <div class="col mt-3">
      <div class="card h-100 bg-light" routerLink="/app-register">
        <img src="../../assets/D2.png" style="height: 236px;" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h2 class="card-title text-primary text-center">Book Appointment</h2>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card h-100 bg-light">
        <img src="../../assets/kidney.png" style="height: 235px;padding: 30px;">
        <div class="card-body">
          <h2 class="card-title text-primary text-center">Save Your Life</h2>
          <p class="card-text"> This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    
    <div class="col mt-3">
      <div class="card h-100 bg-light" routerLink="/app-list">
        <img src="../../assets/D3.png" style="height: 232px;"/>
        <div class="card-body">
          <h2 class="card-title text-primary text-center">Check Details</h2>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>