<div class="single-product">
    <div class="container">

        <!-- section 1 -->
        <div class="section-1 mt-5">
            <div class="row">

                <!-- image col -->
                <div class="col img-col d-flex align-items-center">
                    <img src='{{product[0].image}}' class="img-fluid mx-auto d-block">
                </div>

                <!-- desc col -->
                <div class="col desc-col">
                    <div matListItemTitle>
                        <h1><b>{{product[0].name}}</b></h1>
                    </div>
                    <div matListItemLine>{{product[0].info}}</div>
                    <div class="main-details">


                        <div matListItemTitle class="mt-3">
                            <h1>50/-</h1>
                        </div>

                        <button *ngIf="quantity==0" class="btn btn-primary mt-3 d-flex"
                            (click)="addToCart()">Add
                            &nbsp;<mat-icon>shopping_cart</mat-icon></button>

                        <div class="d-flex align-items-center" *ngIf="quantity>0">
                            <button class="btn text-primary mt-3 d-flex" (click)="increase_quantity()">
                                &nbsp;<mat-icon>add_circle</mat-icon></button>
                            <b class="text-primary h5 mt-4">{{quantity}}</b>
                            <button class="btn text-primary mt-3 d-flex" (click)="decrease_quantity()">
                                &nbsp;<mat-icon>remove_circle</mat-icon></button>
                        </div>

                    </div>

                    <hr>

                    <h3><u>Description</u></h3>
                    <p>A banana is an elongated, edible fruit botanically a berry produced by several kinds of
                        large herbaceous flowering plants in the genus Musa. In some countries, bananas used for
                        cooking may be called "plantains", distinguishing them from dessert bananas.</p>
                </div>

                <!-- offers col -->
                <div class="col">

                    <h2>Available Offers:</h2>

                    <ul>
                        <li> <i class="bi bi-tag-fill text-success"></i> Bank Offer10% off on Axis Bank Credit Card and
                            EMI Transactions, up to ₹750, on orders of
                            ₹5,000 and
                            aboveT&C</li><br>
                        <li> <i class="bi bi-tag-fill text-success"></i> Bank Offer10% off on Bank of Baroda Credit Card
                            EMI Transactions, up to ₹1,000 on orders of
                            ₹5,000
                            and aboveT&C</li><br>
                        <li> <i class="bi bi-tag-fill text-success"></i> Bank Offer10% off on IDFC FIRST Bank Credit
                            Card EMI Transactions, up to ₹1,000 on orders of
                            ₹5,000
                            and aboveT&C</li><br>
                        <li> <i class="bi bi-tag-fill text-success"></i> Special PriceGet extra ₹3093 off (price
                            inclusive of cashback/coupon)T&C</li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- section 2 -->
        <div class="section-2 mt-4">
            <h2>About product</h2>
            <ul>
                <li>It is yellow in colour and very sweet.</li>
                <li>It is rich in various vitamins, minerals, and other ingredients.</li>
                <li>Bananas give you instant energy.</li>
            </ul>
        </div>

    </div>

    <!-- section 3 -->
    <div class="section-3">

        <div class="h5 ms-4">Similar products</div>

        <mat-list class="d-flex">
            <mat-list-item *ngFor="let product of products">

                <div class="card">
                    <img src='{{product.image}}' class="img-fluid mx-auto d-block" [height]="100" [width]="100">
                    <div class="card-body">
                        <b>{{product.name}}</b><br>
                        <i>{{product.info}}</i>
                        <div class="d-flex price-buy mt-3">
                            <b>50/-</b>
                            <button class="btn btn-outline-success btn-sm"
                                (click)="goToProduct(product.id)">Buy</button>
                        </div>
                    </div>
                </div>

            </mat-list-item>

        </mat-list>

    </div>

    <app-footer></app-footer>
</div>